@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    overflow-x:hidden;
    font-family: poppins;
}


body{
    background-color: #333;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: yellow; */
    background-color: #3333336e;
    width: 100%;
    position: fixed;
}
header nav{
    display: flex;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
nav ul li{
    padding: 10px;
}
/* la mise en page de la partie principale du prortfolio */
.banner{
    /* background-color: #a40000b1; */
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #000;
    /* justify-content: space-between; */
}
.banner .text-banner{
    margin: 100px;
    width: 500px;
}
.text-banner .introduction{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.introduction .introduc{
    color: #fff;
    font-weight: bold;
}
.introduc h2{
    font-size: 4rem;
}
.introduc span{
    color: aqua;
}
.banner img{
    width: 700px;
}
.service{
    /* background-color: yellow; */
    padding: 30px;
}
.service p.tittle, .recent-travail p, .temoiniages p.p{
    color: red;
    font-weight: bold;
    text-align: center;
}
.service h2, .recent-travail h2, .temoiniages h2{
    font-weight: bold;
    text-align: center;
}
.services{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 30px;
    justify-content: center;
}
.services-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #424141;
    width: 400px;
    height: 250px;
    box-shadow: 0  0  10px rgba(24, 24, 22, 0.4);
    border-radius: 2px;
    padding: 15px;
}
.form, .contact{
    box-shadow: 0  0  10px rgba(24, 24, 22, 0.4);
}
.service img{
    width: 70px;
    color: red;
}
.recent-travail{
    padding: 30px;
/* background-color: gray; */

}
.recent-work{
    
    background-size: cover;
    border-radius: 5px;
    height: 200px;
    position: relative;
    overflow-y: hidden;
}
.recent .recent-work:nth-child(1){
    background-image: url("images/first1 copie.png");
}
.recent-work:nth-child(2){
    background-image: url("images/Capture\ d\'écran\ 2024-04-01\ 100959.png");
}
.recent-work:nth-child(3){
    background-image: url("images/certifier.png");
}


.recent-work p{
    position: absolute;
    bottom: -100px;
    border-radius: 5px;
    font-size: 10px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.633), rgba(255, 0, 0, 0.496)  );
    text-align: center;
    padding: 10px;
    /* display: none; */
    transition: .5s ease-in-out ;
    transition-duration: 1s;
}
.recent-work:hover p{
    
    bottom: 0;
    transition: .5s ease-in-out ;
    transition-duration: 1s;
    text-align: center;

}
.recent-work p{
    color: #fff;
}
a.recent-work{
    overflow: hidden;
}

.recent {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.recent img{
    width: 300px;
    border-radius: 2px;
    box-shadow: 0  0  10px rgba(24, 24, 22, 0.4);
}
.recent-travail button{
    display: block;
    align-self: center;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    margin: auto;
    margin-top: 20px;
}
.temoiniages{
    padding: 50px;
}
.temoiniage{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 350px) ;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.temoiniage-item{
    display: flex;
    flex-direction: column;
    background-color: #3c3a3a;
    padding: 20px;
    border-radius: 15px;
    gap: 10px;
}
.temoiniage-item img{
    width: 50px;
    border-radius: 50%;
    height: 50px;
}
.temoin{
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
    shape-margin: 20px;
}
.clients{
    /* display: grid; */
    grid-template-columns: repeat(4, 200px);
}
.clients-logo{
    padding: 30px;
    width: 200px;
    background-color: #fefafaa3;
    height: 50px;
    font-weight: 900;
    /* gap: ; */
}
.clients-logo span{
    display: block;
    align-items: center;
}

.contact{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.form form{
display: flex;
flex-direction: column;
gap: 10px;
color: #000;
}
.nom{
    display: flex;
    gap: 10px;
}
input{
    padding: 10px;
    border-radius: 25px;
    color: #000;
    /* background-color: none; */
    color-scheme: red;
}
form button{
    width: 100px;
    /* color: #000; */
    margin: auto;
    background-color: rgb(34, 34, 218);
    border: none;
    padding: 5px;
}
form textarea{
    height: 100px;
    border-radius: 4px;
    border: none;
    color: #000;
}
.informations{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-items: center;
}
.info-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 250px;
    box-shadow: 0 0  10px rgb(63, 63, 63);
    border:1px solid #000;
    text-wrap: wrap;
    padding: 20px;
    border-radius: 15px;
    font-size: 10px;
    color: #dbd7d7;
}
.info-item p{
    text-align: start;
}
.info-item i{
    font-size: 2rem;
    color: red;
}
/*  La partie about */

.aboute{
    padding: 50px;
}
.aboute .abouteItem{
    display: flex;
    justify-content: space-between;
}
.abouteItem h3{
    color: red;
}

.aboute .p, table{
    margin-top: 50px;
    font-style: bold;
    margin-bottom: 30px;
}
.aboute table td{
    width: 200px;
    padding: 10px;
}
.aboute button{
    padding: 10px;
    color: black;
    border-radius: 25px;
    outline: none;
    border: 1px solid black;
    width: 200px;
    background-color: red;
}


.aboute .action{
    display: flex;
    gap: 30px;
}


/* Le footer */
footer
{
    text-align: center;
    padding: 10px;
    background-color: #434040;
    margin-top: 30px;
}
.separator{
    height: 2px;
    border: 1px solid rgb(31, 31, 31);
}
.icons-footer{
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
footer h3{
    padding: 10px;
}
.bi-star{
    color: red;
}
.bi-quote {
    color: red;
}
.social-icons{
    display: flex;
    justify-content: space-between;
}
.icons-footer i{
    font-size: 2rem;
    cursor: pointer;
}


/* Mise en forme du formulaire de contact */
.btn-form{
    width: 200px;
    color: black;
    background-color: red;
    font-weight: bold;
    border: 2px solid red;
    cursor: pointer;
    
}
.btn-form:hover{
    background-color: transparent;
    color: white;
    border:2px solid red ;
    transition: ease-in-out;
}
.bi-phone, .bi-laptop, .bi-palette{
   font-size: 80px;
   color: red;
}


  .service_item{
    display: flex;
    justify-content: space-around;
    padding: 20px
  }
  .service_ button{
    background-color: red;
    padding:10px;
    border-radius: 25px;
    outline: none;
    border: 1px solid #000;
    margin-top: 30px;
  }
  .service_content{
    padding: 10px;
  }
  .service_item p{
    width: 800px;
    margin-top: 30px;
  }
  .service_ img{
    width: 400px;
    object-fit: contain;
  }
  .monNom {
    content: attr(data-txt);
    color: aqua;
    -webkit-text-stroke:0vw #383d52 ;
    border-right:2px solid red;
    overflow: hidden;
    animation: animate 6s linear infinite;
  }

  @keyframes animate{
    0%, 10%, 100%{
        width: 0;
    }
    70%,90%{
       width:  100%;
    }
  }
  .abouteItem img{
    object-fit: cover;
  }
  header li:hover{
    background-color: red;
  }
  .maitrise img{
    width: 50px;
  }
  .maitrise .maitrise-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
  }
  
  .social-networks{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
  }
  .social-networks i{
    font-size: 2rem;
  }
  .social-networks i:nth-child(1):hover, i:nth-child(2):hover{
    color: blue;
    transition:ease-in-out 0.3s;
  }
  .social-networks i:nth-child(4):hover{
    color: red;
  }
  #btn-cv{
    background-color: #333;
    border: 2px solid red;
    color:#fff ;
    font-weight: bold;
    transition: 0.5s ease-in-out ;
  }
  #btn-cv:hover{
    background-color: red;
    border: 2px solid #000;
    color:#000 ;
    font-weight: bold;
    transition: 0.5s ease-in-out;
  }
  #contact:hover{
    background-color: #333;
    border: 2px solid red;
    color:#fff ;
    font-weight: bold;
    transition: 0.5s ease-in-out ;
  }
  #contact{
    font-weight: bold;
  }
  
#a{
    background-image: url('images/Capture\ d\'écran\ 2024-04-04\ 233008.png');
}
#b{
    background-image: url("images/Capture\ d\'écran\ 2024-04-01\ 100959.png");
}
#c{
    background-image: url("images/Capture\ d\'écran\ 2024-09-12\ 135149.png");
}
#d{
    background-image: url("images/Capture\ d\'écran\ 2024-09-28\ 231737.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#e{
    background-image: url("images/fruits-legurmes.png");
}



/* Amelioration du portfoli  */

/* Ici on commance par la section mes compétances  */


.maitrise-box-row{
    width: 100%;

}
.maitrise-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contenaire-progression{
    width: 50%;
    height: 20px;
    background: #4e4c4c;
    border-radius: 2px;
    overflow-y: hidden;

}
.progresion{
    
    height: 20px;
    background: red;
    border-radius: 2px;
    border-right: 2px solid white;
    overflow-y: auto;
    display: flex;
    animation-name: progression;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    justify-content: center;
}

.stats{
    font-size: 10px;
    font-weight: bold;
}

/* Ajout d'une derniere section "parcours" pour y mettre mon parcours academique donc stylisation de cette partie */
.parcours-box{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;

}
#parcours{
    padding: 20px;
}
.parcours-item{
    background-color: #515151;
    width: 600px;
    display: block;
    padding: 10px;
    border-radius: 6px;
    box-shadow:  0 0 10px rgb(59, 59, 59);
}
.parcours-item .date{
    font-weight:900;
    color: red;
    font-size: 2rem;
    padding: 6px;
}
.parcours-item .diplome{
    font-size: 1.5rem;
    padding: 6px;
}
.parcours-item .etablissement{
    color: #ddd;
    padding: 6px;
    margin-top: 6px;
    padding: 6px;
}
.text{
    padding: 5px;
    padding-bottom: 10px;
}

/* Animation de la bare progression  */

@keyframes progression {
    from{
        width: 0%;
    }
    to{
        width: 80%;
    }
}